{% extends "job_portal/base.html" %}

{% block og_title %}Sevendyne : Top Talent Management & Free HRMS Solutions{% endblock %}
{% block og_description %}At Sevendyne, we connect businesses with top talent and offer free HRMS software to streamline HR operations, reduce costs, and support business growth.{% endblock %}
{% comment %} {% block og_image %}https://example.com/my-custom-image.jpg{% endblock %} {% endcomment %}
{% block og_url %}https://sevendyne.com/app/main/about/{% endblock %}
{% block title %}About Us - Sevendyne HRMS{% endblock %}

{% load static %}


{% block content %}


<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->
<!-- About Us Section -->
<div id="about" class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-12 text-start">
                        <img class="img-fluid w-100" src="{% static 'job_portal/img/about1.png' %}">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">Unlock Success with Sevendyne's Comprehensive IT Solutions</h1>
                <p class="mb-4">Sevendyne provides a comprehensive suite of IT solutions to enhance your business operations, focusing on:</p>
                <ul class="mb-4">
                    <li>Tech Development: Cutting-edge software and applications designed to meet your unique needs.</li>
                    <li>Talent Management: Effective talent management strategies to optimize team performance and manage remote tech talent efficiently.</li>
                    <li>Resource Nourishment: Targeted training programs for skill development and adaptability.</li>
                    <li>HR and Payroll Services: Complete payroll and HR management, including payroll processing, preparation, and compliance with regulations.</li>
                    <li>Employer of Record (EOR): Streamlined management of remote employment and compliance, handling administrative responsibilities seamlessly.</li>
                </ul>
                <p class="mb-4">Contact Us Today.Discover how Sevendyne’s tailored IT solutions, including talent management and HR payroll services, can elevate your business. Reach out to explore our customized services.</p>                     
            </div>
        </div>
    </div>
</div>
<!-- End About Us Section -->
{% endblock %}
